body {
  font-family: 'Segoe UI', sans-serif;
}

pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  font-family: monospace;
}
#output {
  line-height: 1.3;
}

#output p {
  margin: 4px 0;
}
